<h1>Log in</h1>

<form method='POST' action='/process'>
  <input type="hidden" name="_csrf" value="<%=csrfToken %>">
  <div class="field">
    <label for="login">Email:</label><br />
    <input type="text" id="login" name="email" size="30" />
  </div>

  <div class="field">
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" size="30" />
  </div>

  <div class="actions">
    <input name="signIn" type="submit" value="Sign In" />
    <p><a href="/sign_up"><button type="button">Sign Up</button></a></a></p>
  </div>

</form>