<div class="row">
    <div class="remember-password">
        <div id="" class="static_page">
            <div class="modal-header">
                <h3>
                    Change your password
                </h3>
            </div>
            <form id="" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/password/reset/?reset_key=<%= key %>&amp;email=<%= email %>" method="POST" enctype="">
                <input type='hidden' name='_csrf' value='<%= csrfToken%>' />
                <% if (errors.includes('password_different')) { -%>
                    <span class="help-block alert alert-danger ">New password and confirm password not match.</span>
                <% } -%>
                <div class="modal-body clearfix">
                    <div class="form-group  has-feedback">
                        <label class="control-label  " for="id_password1">Password</label>
                        <div class=" ">
                            <input class="form-control" id="id_password1" name="password1" type="password"><span class="form-control-feedback fa fa-eye"></span>
                        </div>
                        <% if (errors.includes('password')) { -%>
                            <span class="help-block alert alert-danger ">This field is required.</span>
                        <% } -%>
                    </div>
                    <div class="form-group  has-feedback">
                        <label class="control-label  " for="id_password2">Password (again)</label>
                        <div class=" ">
                            <input class="form-control" id="id_password2" name="password2" type="password"><span class="form-control-feedback fa fa-eye"></span>
                        </div>
                        <% if (errors.includes('confirm_password')) { -%>
                            <span class="help-block alert alert-danger ">This field is required.</span>
                        <% } -%>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Change my password</button>
                    <div class="actions">
                        <a href="/sign_up">
                            Sign up
                        </a>
                        <a href="/confirmation">
                            Didn't receive confirmation instructions?
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/users/handle_password_strength.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function(){
        
        $('#id_password1').bind("keyup input",function(e) {
            var input = $('#id_password1')
            var value_input = $('#id_password1').val()
            var label = input.closest('.form-group').find('label')
            checkStrength(value_input, input, label)
        })
    })
</script>