<div id="change_password_modal" class="modal fade" style="top: 0px; display: none;" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a id="esc_perm_creation" class="close" data-dismiss="modal">×</a>
				<h3>Change Password</h3>  
			</div>
			<form id="change_password_form"  autocomplete="off" class="" action="" method="POST" enctype="">
				<input type='hidden' name='_csrf' value='<%= csrfToken%>' />
				<div class="modal-body clearfix">
					<span id="passwordDifferent" class="help-block alert alert-danger" style="display: none;">The two password fields didn't match</span>
                    <fieldset>
                        <div class="form-group has-feedback">
                                <label class="control-label" for="id_password1">
                                    Password
                                </label>
                                <div class="">
                                    <input class="form-control" id="id_password1" name="password1" type="password" />
                                    <span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <span id="password1" style="display: none;" class="help-block alert alert-danger ">This field is required.</span>
                            <div class="form-group has-feedback">
                                <label class="control-label" for="id_password2">Password (again)</label>
                                <div class="">
                                    <input class="form-control" id="id_password2" name="password2" type="password" />
                                    <span class="form-control-feedback fa fa-eye"></span>
                                </div>
                            </div>
                            <span id="password2" style="display: none;" class="help-block alert alert-danger ">This field is required.</span>
                    </fieldset>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary pull-right " type="submit" name="submit_permissions" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>

<script src="/javascripts/others/see_password.js" type="text/javascript"></script>