<!-- Template to create rows with users to authorize in the application -->
<script type="text/x-custom-template" id="table_row_authorize_user_template">
	<li id="user_id" class="list-group-item">
        <!-- <img alt="avatar" class="avatar" src="/static/dashboard/img/logos/medium/user.png"> -->
        <div class="member" data-update_owners_users-id="">
            <div class="data">
                <span class="name">username</span>
            </div>
            <div class="active">
            	<a class="fa fa-plus" href="#add"></a>
            </div>
        </div>
    </li>
</script>