<!-- Template to add messages to the page -->
<script type="text/x-custom-template" id="message_template">
	<div class="messages" style="display: block;">
	  <div class="alert alert-type alert-dismissable fade in">
	    <a class="close" data-dismiss="alert" id="close_message">×</a>
	    <p><strong>type:</strong>data</p>
	  </div>
	</div>
</script>