<!-- Template to create proxy row -->
<script type="text/x-custom-template" id="iot_template">
	<div class="row content_iot">
        <div class="col-md-8 user_iot">
            <h6 class="panel-heading">Id of Sensor</h6>
            <p>iot_id</p>
            <h6 class="panel-heading show_password">Password of Sensor</h6>
            <p class="show_password">iot_password</p>
        </div>
        <div class="col-md-4 actions_iot">
            <br>
            <a href="/idm/applications/application_id/iot/iot_id/reset_password" class="btn btn-default">Reset password</a>
            <a href="/idm/applications/application_id/iot/iot_id/delete" class="btn btn-danger">
                <i class="fa fa-trash"></i> Delete
            </a>
        </div>
    </div>
</script>