<!-- Template to add new roles created to the list without reloading page -->
<script type="text/x-custom-template" id="table_row_role_template">
	<div class="btn btn-default role no-editable">
	    <input type="radio" name="roles" id="" autocomplete="off" data-update_owners-id="">
	    <label>nameRole</label>
	</div>
</script>