<!-- Template to add new authorized users to the application -->
<script type="text/x-custom-template" id="table_row_user_authorized_template">
	<div id="user_id" class="list-group" id="auth_users_content">
		<div class="list-group-item">
			<a class="item" href="/idm/users/user_id/">
				<!-- <div class="avatar filter_field">
					<img src="/static/dashboard/img/logos/medium/user.png">
				</div> -->
				<div class="name filter_field">username</div>
			</a>
		</div>
	</div>
</script>