<!-- Template to add new permissions created to the list without reloading page -->
<script type="text/x-custom-template" id="table_row_permission_template">
	<li class="list-group-item is-internal" data-permission-id="perm_id">
		<i class="fa fa-check" disabled=""></i>
		<p style="width: 95%; overflow: hidden; text-overflow: ellipsis; float: right;">perm_name</p>
	</li>
</script>