<!-- Template to create proxy row -->
<script type="text/x-custom-template" id="pep_proxy_template">
	<div class="row content_pep">
        <div class="col-md-8 user_pep">
            <h6 class="panel-heading">Id of Pep Proxy</h6>
            <p>pep_id</p>
            <h6 class="panel-heading">Password of Pep Proxy</h6>
            <p>pep_password</p>
        </div>
        <div class="col-md-4 actions_pep">
            <br>
            <a href="/idm/applications/application_id/pep/pep_id/reset_password" class="btn btn-default reset_password">Reset password</a>
            <a href="/idm/applications/application_id/pep/pep_id/delete" class="btn btn-danger delete_pep">
                <i class="fa fa-trash"></i> Delete
            </a>
        </div>
    </div>
</script>