<!-- Form to warn user that needs to change passwrod -->
<div id="warn_change_password" class="modal in" style="top: 0px; display: none;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Change password</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="right">
                    <p>It's been a year since you changed the password. For security reasons and to continue using this portal, please change it.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>