node_modules/
public/img/applications
public/img/users
public/img/organizations
public/stylesheets/style.css
npm-debug.log
coverage/
certs/
helpers/custom_authentication_driver.js
.eslintcache
config.js
.idea/
.nyc_output/
config.js
.DS_Store?