<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
        <div class="cred">
        <%=translation.footer.cred_date%>
        <a href="https://github.com/ging"><%=translation.footer.author%></a> <%=translation.footer.university%>
      </div>
    </div>
  </div>
</footer>
