<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
          <div class="cred">
        2018 © 
        <a href="https://github.com/ging">GING DIT</a> - Universidad Politénica de Madrid.
      </div>
    </div>
  </div>
</footer>