<%if(session.user) {%>
  <nav class="sidebar">
    <h5>
      <span class="hidden-xs hidden-sm">Identity Manager</span>
      <span class="visible-sm">IdM</span>
    </h5>
      <ul>  
        <a href="/idm" class="home">
          <h4 tabindex="1"><i class="fa"></i><span>Home</span></h4>
        </a>
        <a href="/idm/organizations" class="organizations">
          <h4 tabindex="2"><i class="fa"></i><span>Organizations</span></h4>
        </a>  
        <a href="/idm/applications" class="applications">
          <h4 tabindex="3"><i class="fa"></i><span>My Applications</span></h4>
        </a>
        <%if(session.user.admin) {%>
          <h5>
            <span class="hidden-xs hidden-sm"> </span>
            <span class="visible-sm"> </span>
          </h5>
          <ul>
            <a href="/idm/admins/notify" class="notify">
              <h4 tabindex="1"><i class="fa"></i><span>Notify</span></h4>
            </a>
            <a href="/idm/admins/administrators" class="administrators">
              <h4 tabindex="2"><i class="fa"></i><span>Administrators</span></h4>
            </a>
          </ul>
        <%}%>
      </ul>
  </nav>
<%}%>