<%
    var help_about_items = '_help_about_items';

    if (site.theme !== 'default') {
        if(fs.existsSync('themes/' + site.theme + '/templates/_help_about_items.ejs')) 
            help_about_items = '../themes/' + site.theme + '/templates/_help_about_items';
        }
%>

<div id="content_body">
    <div class="page-header">
        <h2>
            <%=translation.help_about.title%>
        </h2>
    </div>
    <div class="panel-group settings" id="accordion">
        <%- include(help_about_items)  %>
    </div>
</div>
