<% 
  var login = 'auth/_login';
  var presentation = 'auth/_presentation';;

  if (site.theme !== 'default') {
    if(fs.existsSync('themes/' + site.theme + '/templates/_login.ejs')) {
      login = '../themes/' + site.theme + '/templates/_login';
    }
    if(fs.existsSync('themes/' + site.theme + '/templates/_presentation.ejs')) {
      presentation = '../themes/' + site.theme + '/templates/_presentation';
    }
  }
%>

<div class="row">
  <% if (login) {%>
    <%- include(login)%>
  <% } %>
  <% if (presentation) {%>
    <%- include(presentation)%>
  <% } %>
</div>
