	<% 
  var presentation = 'auth/_presentation';

  if (site.theme !== 'default') {
    if(fs.existsSync('themes/' + site.theme + '/templates/_presentation.ejs')) 
      presentation = '../themes/' + site.theme + '/templates/_presentation';
  }
%>

<div class="row">
	<%- include auth/_login %>
	<%- include(presentation)  %>
</div>