<h1>Applications</h1>
<table>
  <% var i; for (i=0; i < applications.length; i++) { %>        
    <tr>
      <td><a href="/indexApplication/<%= applications[i].id %>"><%= applications[i].Name %></a></td>
    </tr> 
  <% } %>
</table>
<a href="/indexApplication/new"><button>Crear aplicacion</button></a>


