<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#E6E6E6"/>
  <meta charset="utf-8"><title> Fiware IdM </title>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery.Jcrop.min.js"></script>
  <link rel='stylesheet' href="/stylesheets/jquery.Jcrop.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>

<%- include _header %>

<div id="container" class="container-fluid wrap">

  <%- include _navigation %>

  <%- body %>

</div>

<div id="backdrop" style="display: none;" class="modal-backdrop  in"></div>

<%- include _footer %>

</body> 
</html>