<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"><title> Fiware IdM </title>
  <script src="javascripts/jquery-3.2.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>

<%- include _header %>

<div id="container" class="container-fluid wrap">
<%- body %>
</div>

<section class="main" id="s1">
  <!-- <% if (errors.length) { %>
    <span id='ErrorMsgs'>
      Corregir errores:<br/>
      <% for (var i in errors) { %>
         <span> <%= errors[i].message %> </span><br/>
      <% } %>
    </span>
  <% } %> -->

  
</section>

<%- include _footer %>

</body> 
</html>