<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      eID-FIWARE IdM
    </h3>
    <span>
      Welcome to the Identity Manager of the CEF Telecom eID-FIWARE project.
    </span>
    <p>
      The objective of this project is to integrate the eID DSI in the FIWARE platform. The action is coordinated by Universidad Politécnica de Madrid and participates Universidad de Cantabria and MashmeTV.
    </p>
    <footer>
      <a href="/sign_up/" class="btn btn-default sign_up">
      Sign up
      </a>
    
      <a target="_blank" href="https://ec.europa.eu/inea/en/connecting-europe-facility/cef-telecom/2017-es-ia-0042" class="btn btn-default">Check project information</a>
    </footer>
  </section>
</div>