<div class="error">
	<div class="error-404">
		<div class="image"></div>
		<h1><%=translation.errors.not_found.title01%></h1>
		<p><%=translation.errors.not_found.content01%> <a href='/idm'><%=translation.errors.not_found.content02%></a></p>
	</div>
</div>

