

/****************************** Custom colors rewrite */

$brand-primary: #FF2C72;
$alert-danger: #FF2C39;
$brand-secundary: #01619F;
$form_background: #FFFFFF;
$text: #525557;
$btn-secondary: #56A9DE;



