.login {
  width: 35%;
  border: none;
  background-color: $form_background;
  margin: 0.5% 0 0 0;
  padding: 3% 6% 3% 6%;
  font-family: "opensans-regular", Arial, sans-serif;
  border-radius: 1.5rem;
  box-shadow: 0 0 8px rgba(34, 34, 34, 0.3);

  .modal-header {
    border: none;
    h3 {
      color: $text;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.8rem;
      margin: 0;
    }
  }

  .form-control {
    height: 34px;
    padding: 6px;
    box-shadow: 2px 2px 4px #c8dbe7 inset;
    background-color: lighten(#c8dbe7, 13%);
    border-radius: 0.5rem;
    border: 1px solid #a9a9a9;
  }

  .form-control-feedback {
    top: 38px;
    pointer-events: auto;
  }

  .modal-footer {
    border: none;
    display: flex;
    flex-flow: wrap column;
    margin: 0;
    padding: 0;

    .checkbox {
      align-self: flex-start;
    }

    button {
      font-size: 1.7rem;
      padding: 1rem 1.5rem 1rem 1.5rem;
      border-radius: 0.7rem;
      height: 4.5rem;
      width: calc(40% - 1rem);
      min-width: 10rem;
      align-self: center;
    }

    .btn-secondary {
      font-size: 1.5rem;
      width: calc(60% - 1rem);
      min-width: 15rem;
      background-color: $btn-secondary;
      color: white;

      &:hover {
        background-color: darken($btn-secondary, 10%);
      }
    }

    .actions {
      display: flex;
      flex-wrap: wrap;
      padding: 3rem 0 0 0;

      a {
        width: 100%;
        align-self: center;
        font-size: 1.4rem;
        border: none;
        padding: 0.5rem 0 0 0;
      }
    }
  }

  .label_01 {
    color: $text;
    font-size: 1.6rem;
  }

  .lbl_01 {
    font-size: 1.3rem;
  }
}

.form-control-feedback {
  top: 40px;
  pointer-events: auto;
}

@media (max-width: 1200px) {
  .login {
    width: 60%;
    border: none;
    background-color: $form_background;
    margin: 0.5% 0 0 0;
    padding: 6rem 7rem 6rem 7rem;

    .modal-header {
      h3 {
        font-size: 3.2rem;
      }
    }

    .label_01 {
      color: $text;
      font-size: 1.9rem;
    }

    .lbl_01 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 800px) {
  .login {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .login {
    width: 100%;
    padding: 6% 8% 6% 8%;
    margin: 0;
    background: transparent;
    box-shadow: none;
    color: white;

    .modal-header {
      h3 {
        font-size: 2.4rem;
        color: white;
      }
    }

    form {
      .modal-body {
        .label_01 {
          color: white;
        }
      }
    }

    .modal-footer {
      .actions {
        a {
          color: white;
        }
      }
    }
  }
}

@media (max-height: 560px) {
  .login {
    width: 100%;
    padding: 1.5% 8% 5% 8%;
    margin: 0;
    background-color: transparent;
    box-shadow: none;

    .modal-header {
      h3 {
        font-size: 2.4rem;
        color: white;
        padding: 0 0 0 1.5rem;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      color: white;

      .modal-body {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;

        .form-group {
          width: calc(50% - 2.5rem);
        }

        .obligatory01 {
          position: absolute;
          top: 50px;
          left: 3vw;
          width: calc(50% - 3rem);
        }

        .obligatory02 {
          position: absolute;
          top: 50px;
          left: 43.5vw;
          width: calc(50% - 3rem);
        }

        .label_01 {
          font-size: 1.6rem;
          color: white;
        }
        .form-control {
          height: 30px;
        }
      }

      .modal-footer {
        display: flex;
        flex-flow: wrap row;
        margin: 2.7rem 0 0 0;
        width: 100%;

        .checkbox {
          padding: 0 0 0 2rem;
          width: 37%;
          display: flex;
        }

        .buttons {
          width: 60%;
          padding: 0 0 0 0;
          button {
            font-size: 1.5rem;
            padding: 0.8rem 1.3rem 0.8rem 1.3rem;
            border-radius: 0.5rem;
            height: 3.8rem;
            width: 25%;
          }
          .btn-secondary {
            width: 50%;
            margin: 0 0 0 12%;
          }
        }

        .actions {
          padding: 0 1rem 0 1rem;
          margin: 3rem 0 0rem 0;
          flex-flow: nowrap row;
          justify-content: space-between;
          width: 100%;

          a {
            font-size: 1.4rem;
            text-align: left;
            display: block;
            width: auto;
            color: white;
          }
        }
      }
    }

    .form-control-feedback {
      top: 33px;
      pointer-events: auto;
    }
  }
}

/*-----iPhone4 portrait -----*/

@media (max-width: 320px) {
  @media (max-height: 480px) {
    .login {
      padding: 5% 6% 5% 6%;

      .modal-header {
        h3 {
          font-size: 2.4rem;
        }
      }

      .form-control {
        height: 30px;
        padding: 5px;
      }

      .form-control-feedback {
        top: 30px;
        pointer-events: auto;
      }

      .modal-footer {
        button {
          font-size: 1.4rem;
          border-radius: 0.7rem;
          height: 4rem;
          width: 9rem;
        }

        .actions {
          padding: 1.5rem 0 0 0;

          a {
            font-size: 1.2rem;
          }
        }
      }

      .label_01 {
        color: $text;
        font-size: 1.2rem;
      }

      .lbl_01 {
        font-size: 1.1rem;
      }
    }
  }
}

/*-----iPhone4 landscape -----*/
@media (max-width: 480px) {
  @media (max-height: 320px) {
    .login {
      padding: 1% 6% 4% 6%;

      form {
        .form-control {
          height: 30px;
          padding: 5px;
        }

        .modal-body {
          .obligatory01 {
            left: 4vw;
          }
          .obligatory02 {
            left: 46.5vw;
          }
        }
        .modal-footer {
          margin: 2.3rem 0 0 0;
          .checkbox {
            width: 26%;
            label {
              margin: 0;
            }
          }

          .buttons {
            width: 70%;

            button {
              font-size: 1.4rem;
              height: 3.5rem;
            }

            .btn-secondary {
              font-size: 1.2rem;
            }
          }
          .actions {
            margin: 1rem 0 0 0;

            a {
              font-size: 1.1rem;
            }
          }
        }

        .label_01 {
          color: $text;
          font-size: 1.2rem;
        }

        .lbl_01 {
          font-size: 1.1rem;
        }
      }
    }
  }
}
