.login{
    width: 30%;
    border: none;
    background-color: $form_background;
    margin: .5% 0 0 0;
    padding: 3% 6% 3% 6%;
    font-family: "opensans-regular", Arial, sans-serif;
    border-radius: 1.5rem;
    box-shadow: 0 0 8px rgba(34, 34, 34, 0.3);

    .modal-header{
        border: none;
        h3 {
            color: $text;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 2.8rem;
        }
    }

    .form-control {
        height: 34px;
        padding: 6px;
        box-shadow: 2px 2px 4px #C8DBE7 inset;
        background-color: lighten(#C8DBE7, 13%);
        border-radius: .5rem;
        border: 1px solid #A9A9A9;
    }

    .modal-footer {
        border: none;
        display: flex;
        flex-flow: wrap column;
        margin: 0;
        padding: 0;

        .checkbox {
            align-self: flex-start;
        }

        button {
            font-size: 1.6rem;
            padding: 1rem 1.5rem 1rem 1.5rem;
            border-radius: .7rem;
            height: 4.5rem;
            width: 10rem;
            align-self: center;
        }
    
        .actions {
            display: flex;
            flex-wrap: wrap;
            padding: 3rem 0 0 0;

            a {
                width: 100%;
                align-self: center;
                font-size: 1.4rem;
                border: none;
                padding: .5rem 0 0 0;
            }
        }
    }

    .label_01 {
        color: $text;
        font-size: 1.6rem;
    }

    .lbl_01 {
        font-size: 1.3rem;
    }
    
}
