/****************************** Custom styles rewrite */

html, body {
	font-family: "opensans-regular",Arial,sans-serif;
	background-image: url(../img/vish_background.png);
	background-size: cover;
	//background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 0 auto;

	.container-fluid.wrap {
		padding: 0;
		max-width: 100%;
	}

}

.row {
	display: flex;
	justify-content: center;
	margin: 0;
	width: 100%;
	height: 100vh;

	.container-fluid.info {
		width: 100%;
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
		margin: 4.5rem 0 0 0;
		padding: 0;

		.media {
			height: auto;
		}

		.logo-header {
			align-self: center;
			width: 40%;
			margin: 0 0 1rem 0;
			
			.brand {
				width: 100%;
				height: 8rem;
				background-image: none;

				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
					-webkit-filter: drop-shadow(3px 2px 3px rgba(34, 34, 34, 0.384));
					filter: drop-shadow(3px 2px 3px rgba(34, 34, 34, 0.384));
				}
			
			}
		}

		
		.cred {
			width: 40%;
			color: white;
			text-align: center;
			margin: 3rem 0 1rem 0;
			font-size: 1.4rem;

			a {
				color: white;
				font-weight: 600;

				&:hover {
					color: lighten($brand-primary, 15%);
				}
			}
	
		}
	}

}

.alert-danger {
	border: .6px solid $alert-danger;
	background-color: lighten( $alert-danger, 20%);
	color: darken($alert-danger, 30%);
}


.fa-eye:before {
    content: "\f070";
}

.fa-eye-slash:before {
    content: "\f06e";
}



