<div class="footer">
  <div class="language_menu">
    <p class="selected_option"><%=lang%> <span class="fa fa-arrow-alt-circle-up" id="lang_trigger"></span></p>
    <ul class="lang_options" id="lang_content">
      <li><a class="lang_es <%=(lang=="es" ? "active" : "")%>" href="/language?clang=es">es</a></li>
      <li><a class="lang_en <%=(lang=="en" ? "active" : "")%>" href="/language?clang=en">en</a></li>
    </ul>
  </div>
    <ul class="links inline">
        <li><a href="">Aviso legal</a></li>
        <li><a href="">Política Privacidad</a></li>
        <li><a href="">Política de cookies</a></li>
    </ul>

    <ul class="sponsors inline">
        <li><a href=""><img class="confianza" src="../img/footer-confianza-online.png" alt=""></a></li>
        <li><a href=""><img src="../img/footer-proteccion-infancia.png" alt=""></a></li>
        <li><a href=""><img src="../img/footer-verisign-secured.png" alt=""></a></li>
        <li><a href=""><img src="../img/footer-superliga.png" alt=""></a></li>
    </ul>
</div>
