/****************************** Custom colors rewrite */

//$brand-primary: #193B6B;
//$brand-secundary: #48b9c9;

$brand-primary: #ff6600;
$alert-danger: #ff542d;
$brand-secundary:#3d3d3d;
$form_background: #fffcfa;
$text: #333;