/****************************** Custom styles rewrite */

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(../img/background_educa.jpg);
	background-size: cover;
	background-color: darkgrey;
	margin: 0 auto;

	
	.container-fluid.wrap {
		padding: 0;
		max-width: 100%;
		
	}

}

.container-fluid.info {
	.row & {
		height: 100vh;
	}
}

.alert-danger {
	border: .6px solid $alert-danger;
	background-color: lighten( $alert-danger, 20%);
	color: darken($alert-danger, 30%);
}


.fa-eye:before {
    content: "\f070";
}

.fa-eye-slash:before {
    content: "\f06e";
}


.row {
	display: flex;
	flex-direction: row-reverse;
	margin: 0;
	width: 100%;

}
	

.container-fluid.info {
	width: 60%;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	margin: 0 0 0 2rem;

	.media {
		height: auto;
	}

	.logo-header {
		width: 100%;
		padding: 1rem;

		.brand {
			width: 30%;
			background-image: none;
			width: 200px;
			font-size: 2.5rem;
			color: $brand-secundary;
			display: flex;

					
			.logo_bold {
				font-weight: bold;
				color: $brand-primary;
					
			}	
		
		}
	}

	
	.cred {
		width: 53%;
		color: white;
		align-self: flex-end;
		text-align: left;
		margin: 0 0 2rem 0;
		font-size: 1.4rem;

	
		a {
			color: white;
			font-weight: 600;
		}

		a:hover {
			color: $text;

		}
	}
}



@media (max-width: 1280px) {

	.container-fluid.info {
		width: 55%;

		.cred {
			width: 70%;
		}
	}
}



@media (max-width: 990px) {
	
	.container-fluid.info {
		width: 45%;

		.cred {
			display: none;
		}
	
	}
}


@media (max-width: 768px) {
	.container-fluid.info {
		width: 35%;
		
	}
}


@media (max-width: 650px) {
	
	.container-fluid.info {
		width: 0;
		padding: 0;
		margin: 0;
		.logo-header {
			position: fixed;
			top: 1rem;
			left: 1rem;
		}
	}


}


@media (max-height:450px) {

    @media (max-width:900px) {
        
        .container-fluid.info {
			width: 0;
			padding: 0;
			margin: 0;
			.logo-header {
				position: fixed;
				top: 3rem;
				left: calc(50% - 95px);
			}
		}
	}
}


/*------ GalaxyS5 landscape------*/

@media (max-height: 361px) {

    @media (max-width: 641px) {
       
		.container-fluid.info {
			.logo-header {
				top: 1rem;
			}
		}
    }
   
}


/*------ iPhone5/SE landscape------*/

@media (max-height: 321px) {

    @media (max-width: 570px) {
       
        .container-fluid.info {
			.logo-header {
				top: 1rem;
			}
		}
    
    }
   
}