2018 ©
<a style="color: #193B6B; text-decoration: none;" href="https://github.com/ging"
onMouseOver="this.style.cssText= 'color: #48B9C9; text-decoration: none;'"
onMouseOut="this.style.cssText= 'color: #193B6B; text-decoration: none;'">GING DIT</a>-
<%=translation.templates.email.base_email.content01%>