<p>Hello <%= name %>!</p>

<p>Welcome to Keyrock! By clicking on the link "I accept" below, you state that you have read and accepted the our Terms and Conditions and the creation of your account will be confirmed:</p>

<p><a href="<%= link %>" target="_blank">I accept</a></p>