<%
  var header = '_header';
  var footer = '_footer';

  var content;
  if (view) {
    content = include(view, data);
  } else {
    content = data;
  }

  if (config.site.theme !== 'default') {
    if(fs.existsSync('themes/' + config.site.theme + '/templates/email/_header.ejs')) {
      header = '../../../themes/' + config.site.theme + '/templates/email/_header';
    }

    if(fs.existsSync('themes/' + config.site.theme + '/templates/email/_footer.ejs')) {
      footer = '../../../themes/' + config.site.theme + '/templates/email/_footer';
    }

    if(view && fs.existsSync('themes/' + config.site.theme + '/templates/email/' + view + '.ejs')) {
      path = '../../../themes/' + config.site.theme + '/templates/email/' + view;
      content = include(path, data);
    }
  }
%>

<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<body>
  <table
    style="background-color: #F1F1F2; min-height: 300px; padding-bottom: 40px; border:0; font-family: verdana, arial, sans-serif;"
    cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" valign="top">
        <table style="padding: 15px 0px; border:0;" cellpadding="0" cellspacing="0" width="700">
          <tr style="background-color: #F1F1F2; min-height: 80px; display: block;">
            <td style="background-color: white; width:700px;">
              <%- include(header) %>
            </td>
          </tr>
          <tr style="height: auto; padding: 20px 15px 10px; color: #666; background-color: #FFF; font-size: 13px;">
            <td>
              <table
                style="height: auto; padding: 20px 15px 10px; color: #666; background-color: #FFF; font-size: 13px;">
                <tr>
                  <td>
                    <%- content %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="border-top:1px solid #48B9C9;"></td>
          </tr>
          <tr>
            <td
              style="border-top: 1px solid #FF0; border-bottom: 1px solid #193B6B; height: 0px; width: 100%; display:block;">
            </td>
          </tr>
          <tr style="background-color: #FFF;">
            <td style="padding:15px 15px 0px; display: block; padding-bottom: 30px; font-size: 11px;">
              <%- include(footer) %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>