<p>Hello <%= name %>!</p>

<p>You have requested to change your FIWARE-Lab email account to this one. Follow the link to finish the process.</p>

<p><a href="<%= link %>" target="_blank">Verify account</a></p>