#detailOrganization{
  header .modal span{
    min-height: 30px;
    display: inline-block;
  }
}
#remove_org {
  p.alert{
    margin: 0;
    font-size: 12px;
    i{
      margin-right: 4px;
      color: $brand-primary;
    }
  }
}
.n-avail{
  color: #BEBEBE;
  font-style: italic;
}

#edit_organization_modal{
   @extend .well;
  .modal-header{
    padding: 0;
    margin-bottom: 15px;
    h3{
      margin: 0;
    }
  }
}
#detailApplication,
#detailOrganization,
#detailUser{
  .logo{
    img{
      width: 83px;
      @include border-top-radius ($border-radius-base);
      @include border-bottom-radius ($border-radius-base);
    }
  }
  .info{
    .panel-body{
      padding: 15px;
      min-height: 0;
    }
  }
  @media (max-width: $screen-xs-min){
    header .name a span{
      display: none;
    }
  }

  @media (max-width: $screen-sm-min){
    header{
      margin-bottom: 2px;
      margin-top: 20px;
    }
    .logo{
      right: 15px;
      top: -9px !important;
      img{
        width: 50px;
      }
    }
  }

  .panel-body{
    padding: 0 15px;
  }
  .panel.datatable {
    @media (max-width: $screen-xs-min){
      .panel-heading span{
        padding-top: 3px;
        font-size: 12px;
        margin-bottom: 9px;
      }
      .table_actions{
        .filter{
          width: 100%;
          padding: 0;
          margin-left: 0;
        }
        .btn{
          position: absolute;
          right: 7px;
          padding: 2px 4px;
        }
      }
    }
  }
}

#myApplications-table,
#organizations-table{
  .panel-body{
    .panel-footer{
      clear: both;
      margin: 0 -15px;
      min-height: 45px;
      //border-top: 1px solid #A9A9A9;
      border-top: none;
      ul.pagination{
        float: right;
        margin: 0;
        li a{
          padding: 4px 7px;
        }
      }
    }
  }
}


#detailApplication,
#detailOrganization,
#detailUser {
  margin-top: 8px;
  .panel.members > .panel-body .members-actions,
  .panel.organizations > .panel-body .organizations-actions {
    border-bottom: 1px solid $border-color;
    padding-bottom: 7px;
    .form-control {
      width: 200px;
      display: inline;
    }
    .table_actions {
      float: right;
      display: inline-block;
      a{
        margin-top: 3px;
        @include text-overflow;
        @media (max-width: $screen-sm-min){
          max-width: 220px;
        }
        @media (max-width: $screen-xs-min){
          width: 131px;
        }
      }
    }
  }
}

div#update_owners_members_members,
div#available_update_owners_members,
div#available_update_owners,
div#update_owners_members{
  overflow-x: hidden;
  height: 250px;
}
#update_owners_members{
  .dropdown-menu{
    margin-bottom: 10px;
  }
}

#detailApplication {
  margin-top: 2px;
  header{
    margin-bottom: 8px;
  }
}
#organization_members,
#home{
  @media (max-width: 205px){
    margin-top: -40px;
  }
}
.edit_organization_modal {
  textarea {
    min-height: 40px;
    max-height: 55px;
    resize: none;
  }
  button{
    @extend .btn;
    @extend .btn-primary;
  }
}

#organizations-table{
  .list-group-item{
    @include switch-hover;
  }
}

.extra{
  .panel-title{
    a{
      color: $brand-primary;
    }
  }
  .panel-heading {
    padding: 0;
    margin: 20px 0 7px 0;
    border-bottom: 1px solid #D5D5D5;
    color: $brand-secundary;
  }
}

.add-members{
  @include make-xs-column(12, $gutter: $grid-gutter-width);
  padding: 0;
  .list-group-item{
    margin: 0;
  }
  .avatar{
    float: left;
    margin-right: 0px;
    min-width: 36px;
    @include border-top-radius (2px);
    @include border-bottom-radius (2px);
  }
  .all-users{
    border-right: 1px solid $border-color;
    @media (max-width: $screen-sm-min){
      border-right: none;
      margin-bottom: 20px;
    }
  }
  .all-users,
  .members-list{
    padding: 0;
    @media (max-width: $screen-sm-min){
      padding-left: 0;
      padding-right: 0;
    }
    header{
      min-height: 29px;
      margin-bottom: 0px;
      padding-bottom: 0;
      margin-top: 0;
      border-bottom: 1px solid $border-color;
      h4{
        display: inline;
        line-height: 28px;
      }
      .form-control{
        width: 100%;
        display: inline-block;
        float: right;
        height: 29px;
        padding: 0px 5px;
      }
      .filtering-spinner-inline{
        width: 10px;
        float: right;
        margin: 4px 10px;
        display: none;
        i{
          color: #5B5B5F;
        }
      }
    }
    li.list-group-item{
      border-bottom: 0px solid #DDD;
      margin-right: 10px;
      &:last-child{
        //border-bottom: none;
      }
      .member{
        display: inline; width: 87%;
      }
    }
    .data {padding-top: 8px; @include text-overflow;}

    .name {
      display: inline;
      padding-right: 0;
    }
    .fa-plus,
    .fa-close{
      float: right;
      display: inline-block;
      padding-top: 4px;
    }
  }
}


.role_dropdown li.app-roles-list{
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #5B5B5F;
  white-space: nowrap;
  padding: 7px 10px;
  background-color: $white;
  &:hover{
    text-decoration: none;
    color: $text-color;
    background-color: #fff;
  }
  span{
    margin-bottom: 4px;
    padding-bottom: 3px;
    line-height: 1;
    width: 100%;
    float: left;
    border-bottom: 1px solid $brand-secundary;
    font-family: $corporate-font-family-sans-serif-Regular;
    @include text-overflow;
  }
  i{
    margin-right: 5px;
    min-width: 14px;
    @include opacity (0);
  }
  ol{
    padding-left: 0px;
    margin-top: 2px;
    padding-bottom: 2px;
    clear: both;
  }
}
.role_dropdown li.active{
  text-decoration: none;
  color: $text-color;
  background-color: #fff;
  i{
    @include opacity (1);
    color: $text-color;
  }
}

.all-users{
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-lg-column(5, $gutter: $grid-gutter-width);
  padding-right: 15px !important;
}
.members-list{
  @include make-sm-column(7, $gutter: $grid-gutter-width);
  @include make-lg-column(7, $gutter: $grid-gutter-width);
  padding-left: 15px !important;
  @media (max-width: $screen-xs-min){
    margin-top: 15px;
    margin-left: 0 !important;
  }
}

.all-users,
.members-list{
  h4{
    display: inline;
  }
  .has-feedback{
    width: 120px;
    display: inline-block;
    float: right;
    height: 27px;
    padding: 0px;
    margin: 0;
  }
  div.active{
    position: absolute;
    right: 15px;
    margin-top: -18px;
  }
  .role_options{
    float: right;
    display: inline-block;
    margin-top: -22px;
    margin-right: 19px;
    a{
      position: relative;
    }
  }
}


#no_update_owners_members,
#no_update_owners_organizations_members,
#no_update_owners_members_members,
#no_available_update_owners_members,
#no_available_update_owners_organizations,
#no_available_update_owners{
  @extend .alert;
  @extend .alert-info;
  margin-top: 11px;
}
