<div style="float:left;width:75%;">
  <img  style="float:left;margin-left: 20px;" src="../img/password.png" alt="QR code" width="100" height="100"> 
  <div style="float:left;margin-left: 17px;margin-top: 10px;">
    <h2>Credential issued</h2>
    <h3>You can find it in your wallet</h3>
  </div>
</div>