<!-- Form to warn user that needs to change passwrod -->
<div id="warn_change_password" class="modal in" style="top: 0px; display: none;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><%=translation.home.change_pass.title%></h3>
            </div>
            <div class="modal-body clearfix">
                <div class="right">
                    <p><%=translation.home.change_pass.content01%></p>
                    <p><%=translation.home.change_pass.content02%></p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary"><%=translation.home.change_pass.continue_btn%></button>
            </div>
        </div>
    </div>
</div>
