<div class="container">
  <h2>Basic Card</h2>
      <div class="card">
  <div class="card-header">Header</div>
  <div class="card-body">Content</div>
  <div class="card-footer">Footer</div>
</div>

</div>
