<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
          <div class="cred">
        2015 © 
        <a href="http://www.fiware.org/">FIWARE</a>.

        The use of FIWARE Lab services is subject to the acceptance of the
            <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions" target="a_blank">Terms and Conditions</a>,

            <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_Privacy_Policy" target="a_blank">Privacy Policy</a>
            and 
            <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE" target="a_blank">Cookies Policy</a>.
      </div>
    </div>
  </div>
</footer>