<div class="container-fluid info">
  <!-- Brand and toggle get grouped for better mobile display -->

  <div class="logo-header">
    <a href="/" class="brand">
      <img src="/img/educa-internet-logo.png" alt="EducaInternet Logo">
    </a>
  </div>

  <div class="cred">
    <div class="cred_img"><a href="http://www.orange.es" target="_new"><img src="../img/Orange_mark.png"></a></div>

    <div class="cred_content">
      <a href="https://educainternet.es/legal_notice">Aviso legal</a> |
      <a href="https://educainternet.es/privacy_policy">Política de privacidad</a> |
      <a href="https://educainternet.es/conditions_of_use">Condiciones de uso</a> |
      <a href="http://www.orange.es/static/html/cookies.html" target="_blank">Cookies</a>

      <div class="copyright">© Orange 2015 <span class="translation_missing" title="translation missing: es.orange_front.footer.rights ">Rights
        </span>
      </div>
    </div>

  </div>
