<!-- Form to create permission -->
<div id="create_permission" class="modal fade" style="top: 0px; display: none;" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a id="esc_perm_creation" class="close" data-dismiss="modal">×</a>
				<h3>
				</h3><h3>Create permission</h3>  
			</div>
			<form id="create_permission_form" ng-controller="DummyCtrl" name="" autocomplete="off" class="" action="/idm/applications/<%= application.id %>/edit/permissions/create/" method="POST" enctype="">
				<input type='hidden' name='_csrf' value='<%= csrfToken%>' />
				<div class="modal-body clearfix">
					<span id="xml_with_action_and_resource_not_allow" style="display: none;" class='help-block alert alert-danger'>If you use the advanced rule you cannot set also action and resource.</span>
					<span id="define_rule" style="display: none;" class='help-block alert alert-danger'>You need to define both action and resource or an advanced XACML Rule.</span>
					<fieldset>
						<input id="id_application_id" name="application_id" type="hidden" value="">
						<div class="form-group required">
							<label class="control-label  required" for="id_name">Permission Name</label>
							<div class=" ">
								<input class="form-control" id="id_name" maxlength="255" name="name" type="text">
							</div>
						</div>
						<span id="error_empty_name" style="display: none;" class='help-block alert alert-danger'>Input required.</span>
						<div class="form-group required">
							<label class="control-label  required" for="id_description">Description</label>
							<div class=" ">
								<input class="form-control" id="id_description" name="description" type="text">
							</div>
						</div>
						<span id="error_empty_description" style="display: none;" class='help-block alert alert-danger'>Input required.</span>
						<div class="panel-group" id="accordion">
							<div class="panel">
								<div class="panel-headding">  
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse-verb-resource" class="panel-heading collapsed">
										<h4 class="panel-title panel-close">
											HTTP Verb and Resource Rule
										</h4>
									</a>
								</div>
								<div id="collapse-verb-resource" class="panel-collapse collapsed in">
									<div class="panel-body">
										<div class="form-group ">
											<label class="control-label  " for="id_action">HTTP action</label>
											<div class=" ">
												<input class="form-control" id="id_action" maxlength="255" name="action" type="text">
											</div>
										</div>
										<div class="form-group ">
											<label class="control-label  " for="id_resource">Resource</label>
											<div class=" ">
												<input class="form-control" id="id_resource" maxlength="255" name="resource" type="text">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-headding">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse-xacml" class="panel-heading collapsed">
										<h4 class="panel-title panel-close">
											Advanced XACML Rule
										</h4>
									</a>
								</div>
								<div id="collapse-xacml" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="form-group ">
											<label class="control-label  " for="id_xml">Use XACML to define a more complex authorization policy.</label>
											<div class=" ">
												<textarea class="form-control" cols="40" id="id_xml" name="xml" rows="10"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary pull-right " type="submit" name="submit_permissions" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
