<!-- Form to delete a role -->
<div id="delete_role" class="modal fade" style="top: 0px; display: none;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="esc_role_delete" class="close" data-dismiss="modal">×</button>
                <h3>Delete role</h3>
            </div>
            <form id="delete_role_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="" method="POST" enctype="">
                <input type="hidden" name="" value="">
                <div class="modal-body clearfix">
                    <p>This will permanently delete the role from the application and can't be undone. Are you sure you want to continue?</p>
                    <input id="id_role_id" name="role_id" type="hidden" value="2ab96397e0e348d7a80dbc0489e4d2c8">
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary pull-right" type="submit" value="Confirm">
                    <a class="btn btn-default secondary cancel" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>