<!-- Template to create rows with users assign roles in the application -->
<script type="text/x-custom-template" id="table_row_set_admin_row_template">
    <li id="user_id" class="list-group-item">
        <div class="avatar filter_field">
            <img src="user_avatar">
        </div>
        <div class="member" data-update_owners_users-id="">
            <div class="data">
                <span class="name">username</span>
            </div>
            <div class="active remove">
                <a class="fa fa-times" href="#remove"></a>
            </div>
        </div>
    </li>
</script>
