<div class="presentation">  
	<section class="media media-app">
		<img id="prueba 2-avatar" src="<%= application.image %>" class="media-object">
		<div class="media-body">
			<h3 class="media-heading">
				<%= application.name %>
			</h3>
			<%= application.description %>
		</div>
	</section>  
</div>