<%
  var authorize = '_authorize';

  if (site.theme !== 'default') {
    if(fs.existsSync('themes/' + site.theme + '/templates/_authorize.ejs')) {
      authorize = '../../themes/' + site.theme + '/templates/_authorize';
    }
  }
%>

<div id="content_body">
  <%- include(authorize) %>  
</div>
