<!-- Template to create rows with users assign roles in the application -->
<script type="text/x-custom-template" id="table_row_assign_role_user_template">
    <li id="user_id" class="list-group-item">
        <div class="avatar filter_field">
            <img alt="user logo" src="user_avatar">
        </div>
        <div class="member" data-update_owners_users-id="">
            <div class="data">
                <span class="name">username</span>
            </div>
            <div class="active remove">
                <a class="fa fa-times" href="#remove"></a>
            </div>
        </div>
        <div class="dropdown role_options">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="">
                <span class="roles_display">roles_count</span>
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right role_dropdown clearfix">
                <li class="app-roles-list">
                    <span>application_name</span>
                    <ol>
                    </ol>
                </li>
            </ul>
        </div>
    </li>
</script>