<!-- Template to create rows with users to authorize in the application -->
<script type="text/x-custom-template" id="table_row_available_user_template">
	<li id="user_id" class="list-group-item">
        <div class="avatar filter_field">
            <img alt="user logo" src="user_avatar">
        </div>
        <div class="member" data-update_owners_users-id="">
            <div class="data">
                <span class="name">username</span>
            </div>
            <div class="active">
            	<a class="fa fa-plus" href="#add"></a>
            </div>
        </div>
    </li>
</script>