<script type="text/x-custom-template" id="user_row_template">
	<div class="list-group-item">
        <a class="item" href="/idm/users/user_id">
            <div class="avatar filter_field">
                <img alt="user logo" src="user_image">
            </div>
            <div class="name filter_field">user_username</div>
        </a>
    </div>
</script>