<div id="content_body">
    <div id="detailApplication">
        <header>
          <div class="page-header">
		<h2>
			Aplicaciones de <%=user.username%>

		</h2>
	</div>
        </header>
        <div class="panel panel-default info">
            <div class="panel-body">
              <div class="panel-body datatable-content">

                    <a class="item" href="/idm/applications/be001bd2-a379-4259-a2d2-cd6a71cc93fa">
                      <div class="avatar filter_field">
                        <img alt="application logo" src="/img/applications/07e7c85a-10b5-40f5-8cc8-14a57f221aaa.png">
                      </div>
                      <div class="name filter_field">App prueba 1</div>
                      <div class="url filter_field">http://localhost</div>
                    </a>
              </div>
              <div class="panel-body datatable-content">
                    <a class="item" href="/idm/applications/bdc0816a-03f7-4487-8e6e-f2c5bd05c0cc">
                      <div class="avatar filter_field">
                        <img alt="application logo" src="/img/logos/medium/app.png">
                      </div>
                      <div class="name filter_field">FIWARE Course App</div>
                      <div class="url filter_field">http://localhost</div>
                    </a>
              </div>
              <div>
                <% for (let app in applications) { %>
                      <p><%=app%> --- <%= app.app_id%></p>
                  <%}-%>

            </div>
            </div>
        </div>

    </div>
</div>
