<div id="content_body">
    <div id="detailApplication">
        <header>
          <div class="page-header">
		<h2>
			Aplicaciones de <%=user.username%>

		</h2>
	</div>
        </header>
        <div class="panel panel-default info">
            <div class="panel-body">
              
              <div>
                <% for (let app in third_party_applications) { %>
                      <p><%=app%> --- <%= app.id%></p>
                  <%}-%>

            </div>
            </div>
        </div>

    </div>
</div>
