<% 
  var presentation = '../auth/_presentation';
  var registration = '_registration';

  if (site.theme !== 'default') {
    if(fs.existsSync('themes/' + site.theme + '/templates/_registration.ejs')) {
      registration = '../../themes/' + site.theme + '/templates/_registration';
    }
    if(fs.existsSync('themes/' + site.theme + '/templates/_presentation.ejs')) {
      presentation = '../../themes/' + site.theme + '/templates/_presentation';
    }
  }
%>

<div class="row">
	<%- include(presentation) %>
	<%- include(registration) %>
</div>

<script src="/javascripts/users/handle_password_strength.js" type="text/javascript"></script>
<script src="/javascripts/others/see_password.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function(){

		$('#id_password1').bind("keyup input",function(e) {
			var input = $('#id_password1')
			var value_input = $('#id_password1').val()
			var label = input.closest('.form-group').find('label')
			checkStrength(value_input, input, label)
		})
	})
</script>
