<!-- Template to create rows with organizations to authorize in the application -->
<script type="text/x-custom-template" id="table_row_available_organization_template">
	<li id="organization_id" class="list-group-item">
        <div class="avatar filter_field">
            <img alt="organization logo" src="organization_avatar">
        </div>
        <div class="member" data-update_owners_organizations-id="">
            <div class="data">
                <span class="name">organization_name</span>
            </div>
            <div class="active">
            	<a class="fa fa-plus" href="#add"></a>
            </div>
        </div>
    </li>
</script>