<script type="text/x-custom-template" id="organization_row_template">
	<div class="list-group-item">
        <a class="item" href="/idm/organizations/organization_id">
            <div class="avatar filter_field">
                <img alt="organization logo" src="organization_image">
            </div>
            <div class="name filter_field">organization_name</div>
            <div class="description filter_field">organization_description</div>
        </a>
    </div>
</script>