<script type="text/x-custom-template" id="application_row_template">
	<div class="list-group-item">
		<a class="item" href="/idm/applications/application_id">
			<div class="avatar filter_field">
				<img alt="application logo" src="application_image">
			</div>
			<div class="name filter_field">application_name</div>
			<div class="url filter_field">application_url</div>
		</a>
	</div>
</script>
