<script type="text/x-custom-template" id="available_application_row_template">
    <li id="application_id" class="list-group-item">
        <div class="avatar filter_field">
            <img src="application_image">
        </div>
        <div>
            <div class="data">
                <span class="name">application_name</span>
            </div>
            <div class="active">
                <a class="fa fa-plus" href="#add"></a>
            </div>
        </div>
    </li>
</script>
