<!-- Template to edit role -->
<script type="text/x-custom-template" id="edit_role">
	<div id="role_id" class="static_page">
		<div class="modal-header">
			<h3>
			</h3>
		</div>
		<div class="modal-body clearfix">
			<fieldset>
				<div class="form-group required">
					<label class="control-label  required" for="id_name"></label>
					<div class=" ">
						<input class="form-control" id="role_id" maxlength="64" name="name" type="text" value="role_name">
					</div>
				</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<a href="/idm/applications/app_id/edit/roles/role_id/edit" class="inline-edit-submit">
				<i class="fa fa-check"></i>
			</a>
			<a href="" class="inline-edit-cancel">
				<i class="fa fa-times"></i>
			</a>
		</div>
	</div>
</script>