<!-- Template to add new roles created to the list without reloading page -->
<script type="text/x-custom-template" id="table_row_role_template">
	<div id="role_id" class="btn btn-default role no-editable">
	    <input type="radio" name="" id="" autocomplete="off" data-update_owners-id="">
	    <label style="width: 80%; overflow: hidden; text-overflow: ellipsis;">role_name</label>
	    <a href="/idm/applications/app_id/edit/roles/role_id/edit" class="ajax-inline-edit">
        	<i class="fa fa-edit"></i>
        </a>
        <a data-toggle="modal" data-target="#delete_role" class="ajax-modal delete">
        	<i class="far fa-trash-alt"></i>
        </a>
	</div>
</script>