<!-- Template to add new roles created to the list without reloading page -->
<script type="text/x-custom-template" id="table_row_usage_policy_template">
	<div id="policy_id" class="btn btn-default policy no-editable">
	    <label>
	    	<i class="fa fa-check" style="display: none;"></i>policy_name
	    </label>
	    <a href="/idm/applications/app_id/edit/usage_policies/policy_id/edit" class="ajax-inline-edit">
        	<i class="fa fa-edit"></i>
        </a>
        <a data-toggle="modal" data-target="#delete_policy" class="ajax-modal delete">
        	<i class="far fa-trash-alt"></i>
        </a>
	</div>
</script>