<!-- Template to add new permissions created to the list without reloading page -->
<script type="text/x-custom-template" id="table_row_permission_template">
	<li class="list-group-item is-internal" data-permission-id="perm_id">
		<i style="width: 5%; float: left;" class="fa fa-check" disabled=""></i>
		<p id="display_name" style="width: 75%; overflow: hidden; text-overflow: ellipsis; float: left;">perm_name</p>
	    <a data-toggle="modal" data-target="#delete_permission" class="ajax-modal delete">
	    	<i class="far fa-trash-alt"></i>
        </a>
		<a class="edit_permission ">
			<i class="fa fa-edit"></i>
	    </a>
	</li>
</script>
