<script type="text/x-custom-template" id="trusted_application_row_template">
    <li id="application_id" class="list-group-item">
        <div class="avatar filter_field">
            <img src="application_image">
        </div>
        <div>
            <div class="data">
                <span class="name">application_name</span>
            </div>
            <div class="active remove">
                <a class="fa fa-times" href="#remove"></a>
            </div>
        </div>
    </li>
</script>