.error {
	margin-top: 80px;
	color: rgb(142,142,142);
	h1 {
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		color: inherit;
		@media (max-width: 800px) {
			font-size: 30px;
		}

		@media (max-width: 450px) {
			font-size: 20px;
		}
	}

	h2 {
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: inherit;
		@media (max-width: 800px) {
			font-size: 25px;
		}

		@media (max-width: 450px) {
			font-size: 17px;
		}
	}
	p {
		text-align: center;
		font-size: 20px;
		@media (max-width: 800px) {
			font-size: 15px;
		}

	}

	.error-404 {
		display: inline-block;
		margin: 0 auto 0 auto;
		width:50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.image {
			width: 412px;
			height: 350px;
			background: url(/img/errors/big/404.png) no-repeat;
			@media (max-width: 800px) {
				height: 230px;
				width: 275px;
				background: url(/img/errors/medium/404.png) no-repeat;
			}

			@media (max-width: 450px) {
				height: 120px;
				width: 137px;
				background: url(/img/errors/small/404.png) no-repeat;
			}
		}
	}

	.error-oauth,
	.error-saml {
		display: inline-block;
		margin: 0 auto 0 auto;
		width:50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p:first-child {
			align-self: center;
			margin-bottom: 20px;
		}
		a.collapsed {
			color: #001630;
			&:hover {
				color: #fcba04;
				i {
					transition: all 0.5s;
				}
			}
		}

		.collapse_out {
			width: 100%;
			.panel-heading {
			    padding: 0;
			    margin: 20px 0 7px 0;
			    border-bottom: 1px solid rgb(142,142,142);
			    color: #fcba04;
			}
		}
	}
}